.container {
  padding: 2rem;
  text-align: center;
}

input {
  padding: 0.5rem;
  width: 250px;
  margin-right: 0.5rem;
}

button{
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
  border: 1rem;
  cursor: pointer;
}

button:hover{
  background-color: blueviolet;
}

.short-url{
  margin-top : 1rem;
}